body{
--grain: #d7cec7;
--blackboard: #565656;
--oxblood: #76323f;
--tan: #c09f80;
background: var(--grain);
}

 .grid{
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-gap: 10px;
 }

.header{
grid-column: 3;
background:var(--oxblood);
border-radius:25%;
}
.name>h1{
text-align: center;

background: var(--tan);
grid-column: 2;
color: var(--grain);

}
.songList{
grid-row: 2;
grid-column: 3;
}
.footer{}


table{
font-size:
text-align: center;
}
