body{
    --pale-gold:#c0b286;
    --silk:#dcd0d0;
    --paper:#f4f4f4;
    --charcoal:#373737;

    background: var(--silk);

}
.grid{
display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(10px, auto);
}

.header{
    grid-row:1;
    grid-column: 1/6;
}

.name>h1{
font-family: Aclonica;
background: var(--charcoal);
text-align: center;
grid-column;
color: var(--paper);
}


.menu_bar{
background: var(--pale-gold);
text-align: center;
padding: 10px;
grid-row: 1;
grid-column: 1/5;
}

a{
font-size: medium;
font-weight:bold;
padding: 10px 50px;
color: var(--charcoal);
transition: .25s;
}
a:hover{
background: var(--charcoal);
color:var(--paper);
}

.photo{
grid-column: 3;
background: var(--pale-gold);
padding: 100px 100px;
border-radius: 100%
}

.music-list{
background: var(--pale-gold);
grid-row :4;
grid-column: 2/5;
}
th{
align-items: center;
}

.songlistForm{
text-align: center;
font-weight: bolder;
}

.linkBox{
    width:50px;
    height:50px;
    background-color:var(--pale-gold);

}
#lBL{
  grid-row :3/5;
  grid-column:1/2:
}
#lBR{
  grid-row :3/5;
  grid-column:4/5:
}
